{% extends "base_index.html" %}
{% load static %}
{% block content %}
<style>
    .crd-container {
        width: 359px; /* Adjust the width as needed for a business card size */
        padding: 10px;
        margin: 50px auto; /* Adjust the top and bottom margin for centering */
        background-color: #f0f0f0; /* Add your desired background color */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
    }

    .profile-table img{
        width: 100%;
        height: auto;
    }

    .userscard {
        margin: 0;
    }

    .business-crd {
        margin: auto; /* Center the card */
    }
</style>

                {% if account is not None%}
                <div class="body crd-container ">
                    <div class="crd-body">
                        <div class="business-crd card-body">
                            <table class="profile-table ">
                                
                                    {% comment %} {% if account.profile_pic %} {% endcomment %}
                                    <td>
                                        <img src="{{ account.profile_pic.url }}" alt="failed to load">
                                    </td>
                                    {% comment %} {% else %}
                                    <td>
                                        <img src="{% static "image/fisher.png" %}" alt="default image">
                                    </td>
                                    {% endif %} {% endcomment %}
                            
                                
                                
                                    <td>
                                        <div class="flipping-text" onclick="flipText(this)" onmouseout="resetText(this)">
                                            <div class="userscard">
                                            <h5 class="card-title">{{ account.name}}</h5>
                                            <p class="card-text">{{ account.phone_number }}</p>
                                            <p class="card-text">{{ request.user.email }}</p>
                                            </div>
                                        </div>
                                        <script src='{% static "main.js" %}'></script>
                                    </td>
                            </table>
                        </div>
                    </div>
                </div>
                    
                {% else %}
            <div class="container mt-3">
                <div class="card">
                    <div class="card-body">
                        <form method="POST" action="" enctype="multipart/form-data">
                            {% csrf_token %}
                            <p class="hide">{{ form.user }}</p>
                            <label>
                            <p>Your Name:</p>
                            {{ form.name }}
                            </label>
                            <label>
                            <p>Your Number:</p>
                            {{ form.phone_number }}
                            </label>
                            <label>
                            <p>Your Profile Picture:</p>
                            {{ form.profile_pic }}
                            </label>
                            <button type="submit" name="create_account">Complete Setup</button>
                        </form>
                    </div>
                </div>
            </div>
                {% endif %}
            
                {% for property in places %}
                <div>
                  <div class="house">
                    <img class="homepageimg" src="{{property.picture.url}}">
                    <div class="table-responsive collapse" id="extraInfo{{forloop.counter}}">
                      <table class="table">
                          <thead>
                            <tr>
                              <th>Owner</th>
                              <th>Address</th>
                              <th>Zip Code</th>
                              <th>Available</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>{{ property.user_props.name }}</td>
                              <td>{{ property.address }}</td>
                              <td>{{ property.zip_code }}</td>
                              {% if property.available == True %}
                              <td> Available </td>
                              {% else %}
                              <td> Not Available </td>
                              {% endif %}
                            </tr>
                          </tbody>
                        </table>
                    </div> 
                    <div class='d-flex align-content-center justify-content-around'>
                      <button type="button" class="btn btn-secondary d-flex align-content-end justify-content-end" data-bs-toggle="collapse" data-bs-target="#extraInfo{{forloop.counter}}">Learn More</button>
                      <td>Price: ${{ property.price }} | </td>
                      <td>Size: {{ property.size }} SQFT. | </td>
                      <td>State: {{ property.state }} | </td>
                      <td>City: {{ property.city }}</td>
                    </div>
                  </div>
                </div>
                {% endfor %}
{% endblock content %}